body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#content {
    height: 60vh;
    word-wrap: break-word;
}

input {
    padding: 5vh, 0, 5vh, 0;
    margin: 5vh, 0, 5vh, 0;
}